.navbarCSS{
    padding: 15px 20px;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between !important;
    width: 100vw;
    
}



.navItemCSS{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

